{% include "header.html" %}

<div class="main">


			<section class="section-products">
				<div class="container">
					<div class="columns is-flexed">
						<div class="column is-half-desktop aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
							<div class="columns">
								<div class="column is-one-fifth hidden-sm hidden-xs">
								</div><!-- /.column -->


								<div class="column">
									<div class="main-carousel slider-products js-slider-products splide splide--slide splide--ltr splide--draggable is-active is-initialized" id="splide02" role="region" aria-roledescription="carousel">
										<div class="splide__arrows splide__arrows--ltr">

													<div class="carousel-cell splide__slide is-active is-visible" id="splide02-slide01" role="group" aria-roledescription="slide" aria-label="1 of 6" style="width: calc(100%);">
                                                        <image src="{{ item.img_md_url }}">

                                                    </div>


										</div>
									</div>
								</div><!-- /.column -->
							</div><!-- /.columns -->
						</div><!-- /.column -->

						<div class="column is-half-desktop aos-init aos-animate" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400" data-aos-offset="0">
							<div class="products">
								<div class="product">


									<div class="product__head">

                                        {% if 'small' in item.size %}
                                               {% set size1 = 'small' %}
                                        {% elif 'medium' in item.size %}
                                               {% set size1 = 'medium' %}
                                        {% elif 'extra large' in item.size %}
                                               {% set size1 = 'extra large' %}
                                        {% elif 'large' in item.size %}
                                                {% set size1 = 'large' %}
                                        {% else %}
                                                {% set size1 = '' %}


                                        {% endif %}

                                        {% if size1 != '' %}
                                            {% set size2 = item.size.replace(size1, '').strip() %}
                                        {% else %}
                                            {% set size2 = item.size %}
                                        {% endif %}

										<h1 id="product-name" class="h1 title">{{ item.name }}

											<span class="product__subtitle">


												{{ size1 }}


											</span>

										</h1><!-- /.title -->
										<div class="product__price">
				                            {% set price = (item.price - item.discount)|round(2) %}

											<p>${{ (price|string).rstrip('00').rstrip('.') }}</p>
										</div><!-- /.product__price -->

										<div class="product__meta">{{ size2 }}</div><!-- /.product__meta -->

									</div><!-- /.product__head -->

									<div class="product__entry" data-readmore="Read more" data-option-name="Sand Scandinavian Ceramic">
                                        <p>{{ item.short_detail }}</p>


									</div><!-- /.product__entry -->






									<!-- /.product__options -->

									<form action="{{ url_for('show_cart') }}" method="post">
										<input name="action" value="add" hidden>
										<input name="product_id" value="{{ item.id }}" hidden>
										<input name="quantity" value="1" hidden>
										<input name="status" value="active" hidden>


									<div class="product__actions">
										<div class="btn-checkout-container">
											<button type="submit" id="btn-checkout" class="button button-danger button-danger--big">
          Add to Cart  —&nbsp;<span class="btn-checkout--price">${{ (price|string).rstrip('00').rstrip('.') }}</span></button>
										</div>

									</div><!-- /.product__actions ** don't delete!!!!-->

									</form>


{% if item.quantity <= 5 %}

<div id="stock_notification" class="product__notification">
    <div class="product__notification_element">
        <i class="ico-error">
            <svg>
                <use xlink:href="#ico-error"></use>
            </svg>
        </i>
        <p class="fomo_notification_content"><b class="fomo_notification_title">Only a few left in stock.</b><span class="pdp-fomo-abtest"></span></p>
<!--        <p class="fomo_notification_content"><b class="fomo_notification_title">Only a few left in stock.</b><span class="pdp-fomo-abtest"><b>30 other people</b> are also interested in this product.<br>It is likely to be <b class="has-text-danger">sold out in 24 hours</b>.</span></p>-->
	</div>
</div><!-- /.product__notification -->
{% endif %}




								</div><!-- /.product -->
							</div><!-- /.products -->
						</div><!-- /.column -->
					</div><!-- /.columns -->
				</div><!-- /.container -->
			</section><!-- /.section-products -->









			<section class="section-accordions">
				<div class="container">


						<div class="column" id="section-pdp-plant-details">
							<div class="section__content">
								<div class="section__head">

										<h2 class="h4 section__title">Plant Details</h2><!-- /.section__title -->

								</div><!-- /.section__head -->

								<div class="section__body">
									<p>{{ item.long_detail }}</p>




								</div><!-- /.section__body -->
							</div><!-- /.section__content -->
						</div><!-- /.column -->
					</div><!-- /.columns -->








			</section><!-- /.section-accordions -->













		</div><!-- /.main -->






    </div>
    <!-- /.wrapper -->

</section>


{% include "footer.html" %}