{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<br><br><br>
  <div class="container my-3 py-3">
    <div class="row">

      <div class="user-form col-lg-8 col-md-10 mx-auto my-3 py-3">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="my-3 py-3">New customer? <a href="{{ url_for('register', user_type='user') }}" class="link-word">Sign Up here...</a></p>
      </div>
    </div>
  </div>

{% include "footer.html" %}
