<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">


</head>
<body>
<!--    <form id="fileForm" action = "/" method = "POST" enctype = "multipart/form-data" accept="image/gif, image/jpeg, image/png">-->
    <form id="fileForm" action = "/" method = "POST" enctype = "multipart/form-data">
        <input type="file" name="img_file" accept="image/*" onchange="loadFile(event)">
        <br>
        <img id="output" src="{{ imgpath }}">
    </form>


    {% if colors %}
    {% for color in colors %}

    <div class="color" style="background-color:rgb({{color[0]}},{{color[1]}},{{color[2]}});">
        {% if color[0] + color[1] + color[2] < 500 %}
        <span style="color:white">{{ '#' + ('%02x%02x%02x' % (color[0], color[1], color[2])).upper() }}</span>
        {% else %}
        <span style="color:black">{{ '#' + ('%02x%02x%02x' % (color[0], color[1], color[2])).upper() }}</span>
        {% endif %}
    </div>

    {% endfor %}
    {% endif %}



<script>
    var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src); // free memory
    };

    $('#fileForm').submit();
  };
</script>



</body>
</html>